
/* navbar */
.navbar{
  background-color: black;
  height: 10vh;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.1px solid whitesmoke;
}
.nav{
  /* height: 50px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 350px;

}


/* libary view */

.libaryView{
  height: 90vh;
  background-color: black;
  color: whitesmoke;


}